*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-weight: 400;
    font-family: 'segoe ui';
}
.footer{
    padding: 4px 0;
    background-color: #cc0ee9;
}
.social-items{
    color: #fff;
    text-align: center;
}
.social-items a{
    color: #fff;
    width: 40px;
    height: 40px;
    margin: 1rem;
    opacity: 0.8;
    line-height: 38px;
    font-size: 1.4rem;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 1.4px solid #ccc;
}
.social-items a:hover{
    opacity: 1;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.list{
    padding: 0;
    margin-top:0;
    font-size: 18px;
    line-height: 1.6;
    list-style: none;
    margin-bottom: 0;
    text-align: center;
}
.list a{
    color: #fff;
    opacity: 0.8;
    text-decoration: none;
}
.list li{
    padding: 0 15px;
    display: inline-block;
}
.list a:hover{
    opacity: 1;
}
.copyright{
    font-size: 14px;
    margin-top: 15px;
    text-align: center;
    color: rgb(181,175,175);
}